$gutter: 20px;
// $gutter-percent: $gutter * 1%;
$column: 320px;

@mixin respond-to($media) {
	@if $media == col1 {
		@media only screen and (max-width: 479px) { @content; }
	}
	@else if $media == col2 {
		@media only screen and (min-width: 480px) { @content; }
	}
		@else if $media == col3 {
		@media only screen and (min-width: 720px) { @content; }
	}
	@else if $media == col4 {
		@media only screen and (min-width: 1200px) { @content; }
	}
	@else if $media == col5 {
		@media only screen and (min-width: 1600px) { @content; }
	}
	@else if $media == col6 {
		@media only screen and (min-width: 2000px) { @content; }
	}
	@else if $media == col7 {
		@media only screen and (min-width: 2400px) { @content; }
	}
	@else if $media == col8 {
		@media only screen and (min-width: 2401px) { @content; }
	}

}

html, body {
	margin: 0;
	padding: 0;
}
img {
	width: 100%;
	max-width: 100%;
}
.container {
	margin: 0 auto;
	min-width: 320px;
	max-width: 320px;
	@include respond-to(col2) { max-width: ($column * 2); }
	@include respond-to(col3) { max-width: ($column * 3); }
	@include respond-to(col4) { max-width: 80%; }
	@include respond-to(col8) { max-width: 1920px; }
}
.section {
	clear: both;

}
.section:before,
.section:after {
	content: "";
	display: table;
	clear: both;
}
.section {
	zoom:1; /* For IE 6/7 */
}
.column {
	width: 100%;
	float: left;
	padding: 1% ($gutter) 1% ($gutter);
	box-sizing: border-box;
	@include respond-to(col2) { width: (100% / 2); }
	@include respond-to(col3) { width: (100% / 3); }
	@include respond-to(col4) { width: (100% / 4); }
	@include respond-to(col5) { width: (100% / 5); }
	@include respond-to(col6) { width: (100% / 6); }
}